@import "tailwindcss";

@theme {
  --font-roboto: "Roboto";
  --font-domine: "Domine";
}

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-[#F5F5F7] font-domine text-neutral-900;
}

.gradient-overlay {
  background: linear-gradient(
    45deg,
    rgba(27, 27, 31, 0.95),
    rgba(42, 42, 46, 0.8)
  );
}
